*.vo
*.glob
*.aux
*.lia.cache
*.nia.cache
.coqdeps.d
Makefile.coq
Makefile.coq.conf
*.sh
ml/.merlin
ml/extracted/.merlin
ml/extracted/*.ml
ml/extracted/*.mli
ml/extracted/.timestamp
.depend
ml/extracted/_build/
ml/extracted/dune-project
