*.out
*.snm
*.toc
*.vrb
*.vo
*.glob
*.aux
*.lia.cache
*.nia.cache
.coqdeps.d
Makefile.coq
Makefile.coq.conf
*.sh
ml/.merlin
ml/extracted/.merlin
ml/extracted/*.ml
ml/extracted/*.mli
ml/extracted/.timestamp
.depend
_build/
*.log
*.cache
*#*
